#experience {
  margin-bottom: 120px;
  background-image: url("../../../assets/img/index-2-img/experience-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .experience-wrapper {
    width: 615px;
    margin: auto;
    h2 {
      @include encode-font();
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 52px;
      color: #FFFFFF;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 30px;
    }
    p {
      @include encode-font();
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      text-align: center;
    }
    img {
      padding-bottom: 100px;
    }
  }
}