@mixin top-navbar-font {
  @include encode-font();
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}


#top-navbar-section {
  background: #14213D;
  .top-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    .contact-box span:first-child {
      margin-right: 20px;
    }
    .contact-box {
      a {
        @include top-navbar-font();
        margin-right: 15px;
        i {
          margin-right: 5px;
        }
      }
    }
    .top-nav-dec {
      @include top-navbar-font();
    }
    .social-media {
      display: flex;
      align-items: center;
      span {
        @include top-navbar-font();
      }
      ul {
        li {
          display: inline-block;
          a {
            i {
              padding: 0 5px;
              color: #FFFFFF;
            }
          }
        }
      } 
    }
  }
}