#we-love {
  padding: 90px 0;
  display: block;
  .we-love-wrappper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-box {
      width: 45%;
      display: flex;
      justify-content: space-between;
    }
    .we-love-content {
      width: 48%;
      h5 {
        color: #FCA311;
        @include encode-font();
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 152.941% */
      }
      h2 {
        color: #252B42;
        @include encode-font();
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 52px; /* 130% */
        margin: 16px 0;
      }
      p {
        color: #737373;
        @include encode-font();
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
      }
    }
  }
}