
#advice {
  padding: 120px 0;
  .advice-title {
    text-align: center;
    margin-bottom: 100px;
    .sub-title {
      @include encode-font();
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #FCA311;
    }
    .title {
      @include encode-font();
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 52px;
      text-align: center;
      color: #252B42;
      margin: 10px 0;
    }
    p {
      @include encode-font();
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      text-align: center;
      color: #737373; 
    }
  }
  .advice-item-box-wrapper {
    display: flex;
    justify-content: space-between;
    .advice-card-item {
      width: 23%;
      position: relative;
      .new-bnt {
        padding: 8px 20px;
        background: #E74040;
        @include montserrat-font();
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
      }
      img {
        width: 100%;
        height: 370px;
      }
      .tag-div {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        a {
          @include montserrat-font();
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #737373;
          transition: all .3s ease;
          &:hover {
            color: #8EC2F2;
          }
        }
      }
      .content-box {
        margin-top: 10px;
        padding: 0 32px;
        h5 {
          @include montserrat-font();
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #252B42;
          margin-bottom: 10px;
        }
        p {
          @include montserrat-font();
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #737373;
          width: 200px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .date-box {
          margin: 25px 0;
          display: flex;
          justify-content: space-between;
          span {
            @include montserrat-font();
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #737373;
            i {
              margin-right: 5px;
            }
            .fa-clock {
              color: #FCA311;
            }
            .fa-image {
              color: #14213D;
            }
          }
        }
        button {
          border: none;
          background: none;
          @include montserrat-font();
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          color: #737373;
          cursor: pointer;
          padding: 0;
          i {
            color: #FCA311;
            margin-left: 7px;
            font-size: 16px;
          }
        }
      }
    }
  }
}