#footer-section-3 {
  padding: 100px 0;
  .footer-3-item-box-wrapper {
    display: flex;
    justify-content: space-around;
    .footer-3-item-box {
      display: flex;
      justify-content: space-between;
      width: 24%;
      .img-box {
        width: 90px;
        height: 60px;
        background: #e74040;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        margin-right: 20px;
        img {
          margin: auto;
        }
      }
      .text {
        h5 {
          @include encode-font();
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: #252B42;
        }
        p {
          @include montserrat-font();
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #737373;
          margin-top: 10px;
        }
      }
    }
  }
}


#main-footer-section {
  margin-bottom: 120px;
  .main-footer-wrapper {
    display: flex;
    justify-content: space-between;
    .main-footer-box-item {
      h3 {
        @include montserrat-font();
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #252B42;
        margin-bottom: 20px;
      }
      ul {
        li {
          a {
            @include encode-font();
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #737373;
            margin-bottom: 15px;
            display: inline-block;
            transition: all .3s ease;
            &:hover {
              color: #FCA311;
            }
            i {
              color: #FCA311;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}


#down-footer {
  padding: 40px 0;
  background: #FAFAFA;
  .down-footer-wrapper {
    display: flex;
    justify-content: space-between;
    .down-footer-content {
      h2 {
        @include encode-font();
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        color: #252B42;
        margin-bottom: 10px;
      }
      span {
        @include encode-font();
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #737373;
      }
    }

  }
}