

#header-section {
  padding: 35px 0;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      color:#252B42;
      @include montserrat-font();
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
    }
    .navbar {
      li {
        display: inline-block;
        padding-right: 20px;
        a {
          color: #737373;
          text-align: center;
          @include encode-font();
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 142.857% */
          transition: all .3s ease;
          i {
            margin-left: 5px;
          }
          &:hover {
            color: #252B42;
          }
        }
        ul {
          opacity: 0;
          display: none;
          position: absolute;
          background: #fff;
          padding-top: 10px;
          // padding: 20px;
          z-index: 99999;
          transition: all .4s ease;
          li {
            padding-bottom: 15px;
            display: block;
            background: #fafafa;
            padding: 10px 20px;
            margin-bottom: 5px;
            cursor: pointer;
            &:last-child {
              margin-bottom: 0px;
            }
            &:hover a {
              color: #111;
            }
          }
        }
        &:hover ul {
          opacity: 1;
          display: block;
        }
      }
    }
    .register-login-box {
      margin-right: -150px;
      a {
        color: #FCA311;
        text-align: center;
        @include montserrat-font();
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.2px;
      }
      span {
        color: #FCA311;
        font-weight: 700;
        margin: 0px 7px;
      }
    }
    .header-icon-box {
      ul {
        li {
          display: inline-block;
          a {
            i {
              color: #FCA311;
              font-size: 18px;
              margin-left: 20px;
            }
          }
        }
      }
      .fa-bars-staggered {
        display: none;
      }
    }
    .header-btn {
      padding: 15px 25px;
      background: #FCA311;
      color: #FFF;
      @include encode-font();
      font-size: 16px;
      font-weight: 700;
      line-height: 22px; /* 137.5% */
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-left: 45px;
      border: 2px solid #FCA311;
      cursor: pointer;
      transition: all .3s ease;
      &:hover {
        background: transparent;
        color: #FCA311;
      }
      i {
        margin-left: 10px;
      }
    }
  }
}