#call-to-action {
  padding: 120px 0;
  background: #252B42;
  .call-to-action-title-box {
    text-align: center;
    h2 {
      color: #FFF;
      text-align: center;
      @include encode-font();
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 52px; /* 130% */
      margin-bottom: 20px;
    }
    p {
      color: #FFF;
      font-family: Encode Sans;
      @include encode-font();
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
    }
    .btn {
      margin: 30px 0;
    }
    h6 {
      color: var(--light-text-gray-2, #ECECEC);
      font-family: Encode Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
    }
  }
}