#sing-up {
  padding: 120px 0;
  .sing-up-wrapper {
    width: 430px;
    margin: auto;
    .sing-up-title {
      margin-bottom: 60px;
      h2 {
        color: #252B42;
        text-align: center;
        @include montserrat-font();
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 125% */
        margin-bottom: 15px;
      }
      p {
        color: #737373;
        text-align: center;
        @include montserrat-font();
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
      }
    }
    .sing-up-form-wrapper-box {
      .facebook-btn {
        width: 100%;
        border: none;
        display: flex;
        justify-content: center;
        background: #2A7CC7;
        align-items: center;
        padding: 15px 25px;
        border-radius: 5px;
        cursor: pointer;
        i {
          color: #fff;
          margin-right: 15px;
          font-size: 22px;
        }
        span {
          color: #FFF;
          @include montserrat-font();
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px; /* 157.143% */
        }
      }
      .or-box {
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #737373;
          text-align: center;
          @include montserrat-font();
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
          margin: 0 10px;
        }
        .before-border,
        .after-border {
          width: 120px;
          height: 2px;
          background: #ECECEC;
        }
      }
      form {
        .form-item-box {
          margin-bottom: 24px;
          label {
            display: block;
            color: #252B42;
            @include montserrat-font();
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 171.429% */
            margin-bottom: 10px;
          }
          input {
            width: 100%;
            padding: 10px 21px;
            background: #F9F9F9;
            outline: none;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            color: #737373;
            @include montserrat-font();
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 200% */
          }
        }
      }
      .get-btn {
        width: 100%;
        border: none;
        display: flex;
        justify-content: center;
        background: #2DC071;
        align-items: center;
        padding: 15px 25px;
        border-radius: 5px;
        cursor: pointer;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 157.143% */
        margin-bottom: 25px;
      }
      p {
        color: #737373;
        text-align: center;
        @include montserrat-font();
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        margin-bottom: 25px;
      }
      h3 {
        color: #252B42;
        text-align: center;
        @include montserrat-font();
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        a {
          color: #FCA311;
          text-align: center;
          @include montserrat-font();
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 171.429% */
          margin-left: 10px;
        }
      }
    }
  }
}


#error {
  background: #FAFAFA;
  padding: 120px 0;
  .error-wrapper {
    text-align: center;
    h2 {
      color: #252B42;
      @include montserrat-font();
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
    }
    p {
      color: #737373;
      text-align: center;
      @include montserrat-font();
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      margin: 20px 0;
    }
    .error-btn {
      padding: 15px 25px;
      color: #FFF;
      @include montserrat-font();
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px; /* 157.143% */
      background: #2DC071;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      border: 2px solid #2DC071;
      transition: all .3s ease;
      i {
        margin-right: 10px;
      }
      &:hover {
        background: transparent;
        color: #2DC071;
      }
    }
    h3 {
      color: #252B42;
      @include montserrat-font();
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      margin: 48px 0;
    }
    a {
      display: block;
      color: #252B42;
      @include montserrat-font();
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 171.429% */
      i {
        color: #FCA311;
        margin-right: 10px;
      }
    }
  }
}