#gallery {
  .gallery-wrapper {
    display: flex;
    justify-content: space-between;
    .big-img-box {
      width: 49%;
      img {
        width: 100%;
        // height: 680px;
        height: 96%;
      }
    }
    .small-img-box {
      width: 49%;
      .img-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        img {
          width: 49%;
        }
      }
    }
  }
}