// media query breakepoints 1280px
@media (max-width: 1280px) {
  #hero-section-index-2 {
    height: 150vh;
    .hero-wrapper {
      flex-direction: column-reverse;
      margin-top: 100px;
      .hero-content {
        margin-left: 0;
      }
    }
    .hero-lazy-dog-wrapper {
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      top: 80%;
      .lazy-dog-wrapp {
        margin-bottom: 50px;
      }
    }
  }
  .p-t-160 {
    margin-top: 400px;
  }
}




// media query breakpoints 1180px
@media (max-width:1180px) {
  #top-navbar-section {
    display: none;
  }

  #advice {
    .advice-item-box-wrapper {
      flex-wrap: wrap;
      .w-32 {
        width: 48% !important;
      }
    }
  }


  #contact-us {
    .contact-us-wrapper {
      flex-wrap: wrap;
      .content-us-wrapper-item-box {
        width: 50%;
        margin-bottom: 30px;
      }
    }
  }
}






// media query breakpoints 991px 
@media (max-width: 991px) {

  #hero-section-index-2 {
    .hero-wrapper {
      .hero-content {
        h1 {
          font-size: 60px;
        }
      }
    }
  }


  #featured {
    .product-wrapper  {
      flex-wrap: wrap;
      text-align: center;
      .product-item-box {
        // margin: auto;
        // margin-bottom: 70px;
        width: 50%;
      }
    }
  }
}



// media query breakpoints 768px 
@media (max-width: 768px) {

  #hero-section-index-2 {
    height: 130vh;
    .hero-wrapper {
      .hero-content {
        h1 {
          font-size: 50px;
        }
      }
      .hero-img {
        img {
          width: 100%;
        }
      }
    }
  }
  .p-20-120 {
    padding: 35px !important;
  }

  #experience {
    .experience-wrapper {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}



// media query breakpoints 660px 
@media (max-width: 660px) {

  #hero-section-index-2 {
    .hero-wrapper {
      .hero-content {
        h1 {
          font-size: 45px;
          line-height: 60px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }

  #featured {
    .product-wrapper  {
      .product-item-box {
        width: 100%;
      }
    }
  }

  #advice {
    .advice-item-box-wrapper {
      .w-32 {
        width: 100% !important;
      }
    }
  }

  #easy {
    .easy-wrapper {
      flex-direction: column;
      .easy-wrapper-item {
        width: 100%;
        margin-bottom: 80px;
      }
    }
  }

  #contact-us {
    .contact-us-wrapper {
      .content-us-wrapper-item-box {
        width: 100%;
      }
    }
  }


  #footer-social-media {
    .footer-social-media-wrapper {
      flex-wrap: wrap;
      text-align: center;
      p {
        width: 100%;
      }
      .footer-social-wrapp-box {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}



// media query breakpoints 500px 
@media (max-width: 500px) {

  #hero-section-index-2 {
    .hero-wrapper {
      .hero-content {
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
  }
}