// media query breakpoints 991px 
@media (max-width: 991px) {
  #shop-bg {
    .shop-bg-wrapper{
      .shop-card-row {
        flex-wrap: wrap;
        .shop-card-col {
          width: 48%;
          justify-content: center;
          margin-bottom: 50px;
        }
      }
    }
  }
}



// media query breakpoints 500px 
@media (max-width: 500px) {
  #shop-bg {
    height: 80vh !important;
    .shop-bg-wrapper{
      .shop-card-row {
        .shop-card-col {
          width: 100%;
        }
      }
    }
  }
}