
// media query breakpoints 991px 
@media (min-width: 991px) {
  #shop-bg {
    #header-section {
      .header-wrapper {
        .logo {
          color: #fff;
        }
        .navbar {
          li {
            a {
              color: #fff;
            }
            ul {
              li {
                a {
                  color: #000;
                }
              }
            }
          }
        }
        .register-login-box {
          a {
            color: #fff;
            i {
              color: #fff;
            }
          }
          span {
            color: #fff;
          }
        }
        .header-icon-box {
          i {
            color: #fff;
          }
        }
      }
    }
  }
}




// media query breakpoints 991px 
@media (max-width: 991px) {
  #shop-bg {
    #header-section {
      .header-wrapper {
        .logo {
          color: #fff;
        }
        .navbar {
          li {
            a {
              color: #fff;
            }
            ul {
              li {
                a {
                  color: #000;
                }
              }
            }
          }
        }
        .register-login-box {
          a {
            color: #fff;
            i {
              color: #fff;
            }
          }
          span {
            color: #fff;
          }
        }
        .header-icon-box {
          i {
            color: #fff;
          }
        }
      }
    }
  }
}