

// media query breakpoints 991px 
@media (max-width: 991px) {
  #description-section {
    .dweele-img-wrapper-box {
      flex-wrap: wrap;
      .text-content-box {
        width: 48%;
      }
      .img-box {
        width: 48%;
      }
    }
  }
}





// media query breakpoints 768px 
@media (max-width: 768px) {
  #description-section {
    .dweele-img-wrapper-box {
      .text-content-box {
        margin-bottom: 50px;
      }
    }
  }
}




// media query breakpoints 660px 
@media (max-width: 660px) {
  #description-section {
    .dweele-img-wrapper-box {
      .text-content-box {
        width: 100%;
      }
      .img-box {
        width: 100%;
        margin-bottom: 50px;
      }
    }
  }
}