#act {
  .act-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 49%;
      height: 700px;
    }
    .act-content {
      width: 49%;
      padding-left: 120px;
      h2 {
        color: #252B42;
        @include encode-font();
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 52px; /* 130% */
      }
      p {
        color: #737373;
        @include montserrat-font();
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
        margin: 30px 0;
      }
    }
  }
}