#hero-section {
  background-image: url("../../../assets/img/about-img/about-6-hero-img.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  margin-bottom: 500px;

  .hero-content {
    padding: 120px 0;
    h1 {
      color: #252B42;
      @include encode-font();
      font-size: 70px;
      font-style: normal;
      font-weight: 900;
      line-height: 80px; /* 114.286% */
      margin-bottom: 35px;
    }
    p {
      color: #737373;
      @include encode-font();
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 150% */
    }
  }
  .video-section {
    position: relative;
    .video-icon-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #FCA311;
      cursor: pointer;
      i {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    img {
      width: 100%;
    }
  }
}


.video-player {
  width: 60%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  video {
    height: 573px;
  }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
  }
}