#our-numbers {
  .our-numbers-title {
    text-align: center;
    h2 {
      color:#252B42;
      text-align: center;
      @include encode-font();
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 52px; /* 130% */
      margin-bottom: 10px;
    }
    p {
      color: #737373;
      text-align: center;
      @include encode-font();
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
    }
  }
  .our-numbers-wrappper {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    .our-numbers-item {
      text-align: center;
      h1 {
        color: #252B42;
        text-align: center;
        @include encode-font();
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 52px; /* 130% */
        margin-bottom: 16px;
      }
      p {
        color: #737373;
        text-align: center;
        @include encode-font();
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 152.941% */
      }
    }
  }
}