#footer {
  margin-top: 60px;
  .footer-top-layer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 50px;
    h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #252B42;
    }
    .social-box {
      i {
        font-size: 22px;
        color: #FCA311;
        margin-left: 20px;
      }
    }
  }
  .footer-main-layer {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    .footer-layer-item {
      h4 {
        @include montserrat-font();
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #252B42;
        margin-bottom: 20px;
      }
      ul {
        li {
          margin-bottom: 10px;
          a {
            font-family: 'Encode Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #737373;
          }
        }
      }
      form {
        input {
          padding: 17px 10px;
          @include montserrat-font();
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
          color: #737373;
          border: 1px solid #E6E6E6;
          border-radius: 5px;
          outline: none;
        }
        .i-3-f-btn {
          padding: 17px 10px;
          background: #FCA311;
          @include montserrat-font();
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
          color: #FFFFFF;
          cursor: pointer;
          transition: .3s ease;
          &:hover {
            background: transparent;
            border: 1px solid #FCA311;
            color: #FCA311;
          }
        }
      }
      span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        color: #737373;
        margin-top: 10px;
        display: inline-block;
      }
    }
  }
  .footer-bottom-layer {
    background: #FAFAFA;
    padding: 25px 0;
    p {
      @include montserrat-font();
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #737373;
    }
  }
}