#hero {
  height: 80vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  &::after {
    content: '';
    position: absolute;
    background-image: url('../../../assets/img/index-3-img/hero-bg-1.png');
    width: 50%;
    height: 80vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &::before {
    content: '';
    position: absolute;
    background-image: url('../../../assets/img/index-3-img/hero-bg-2.png');
    width: 50%;
    height: 80vh;
    top: 0;
    right: 0;
    z-index: -1; 
  }
  .hero-wrapper-content {
    width: 600px;
    padding-top: 150px;
    h1 {
      @include encode-font();
      font-style: normal;
      font-weight: 900;
      font-size: 70px;
      line-height: 80px;
      color: #252B42;
    }
    h5 {
      @include encode-font();
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #737373;
      margin: 20px 0;
    }
    p {
      @include encode-font();
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #737373;
    }
    .btn-price {
      margin-top: 30px;
      display: flex;
      align-items: center;
      span {
        @include encode-font();
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        color: #FCA311;
        margin-left: 30px;
      }
    }
  }
}
