#media {
  padding-bottom: 120px;
  .media-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .media-video-box {
      width: 45%;
      position: relative;
      img {
        width: 100%;
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        background: #14213D;
        padding: 30px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .media-contact-box {
      .border {
        width: 100px;
        height: 5px;
        background: #E74040;
        margin-bottom: 20px;
      }
      span {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #737373;
      }
      h2 {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 52px;
        color: #252B42;
      }
      p {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #737373;
        padding: 20px 0;
      }
      .btn {
        padding: 15px 30px;
        background: #252B42;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        cursor: pointer;
        border: 2px solid #14213D;
        transition: all .3s ease;
        i {
          padding-left: 5px;
        }
        &:hover {
          background: transparent;
          color: #14213D;
        }
      }
    }
  }
}