#product {
  padding: 50px 0 120px 0;
  .product-wrapper {
    display: flex;
    justify-content: space-between;
    .product-item-box {
      text-align: center;
      h5 {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 26px;
        text-align: center;
        color: #252B42;
      }
      span {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #737373;
        padding: 10px 0;
        display: block;
      }
      p {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #14213D;
        span {
          font-family: 'Encode Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #BDBDBD;
          display: inline-block;
        }
      }
    }
  }
}