#helps {
  margin: 120px 0;
  .helps-title {
    text-align: center;
    margin-bottom: 50px;
    h5 {
      color: #737373;
      text-align: center;
      @include encode-font();
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 152.941% */
    }
    h1 {
      color:#252B42;
      text-align: center;
      @include encode-font();
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 52px; /* 130% */
      margin-top: 10px;
    }
  }
  .helps-wrapper {
    display: flex;
    justify-content: space-between;
    .helps-item {
      width: 48%;
      display: flex;
      padding: 25px;
      h5 {
        background: #14213D;
        padding: 15px 18px;
        border-radius: 50%;
        color: #FFF;
        text-align: center;
        @include montserrat-font();
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
      }
      .description-box {
        margin-left: 20px;
        h4 {
          color: #252B42;
          @include montserrat-font();
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 171.429% */
        }
        p {
          color: #737373;
          @include montserrat-font();
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px; /* 133.333% */
        }
      }
    }
  }

}